WebApiWrapper/Connected Services/DTLibDataProvider/DTLibProvider3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/ITSService/DTLibProvider.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ofa.Moss.ITSService" />
  <xs:import schemaLocation="https://localhost/ITSService/DTLibProvider.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsBusinessDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBusinessDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBusinessDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtrapolateBusinessDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numberOfBusinessDays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtrapolateBusinessDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExtrapolateBusinessDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtrapolateBusinessDateInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ofa.Moss.ITSService" minOccurs="0" name="interval" type="q1:TimePeriodInterval" />
        <xs:element minOccurs="0" name="numberOfIntervals" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtrapolateBusinessDateIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExtrapolateBusinessDateIntervalResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numberOfBusinessDays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBusinessDatesResult" nillable="true" type="q2:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessDatesDifference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessDatesDifferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBusinessDatesDifferenceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>