WebApiWrapper/Connected Services/TBillTenderAnalysisProvider/TBillTenderAnalysisProvider.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/ITSService/TBillTenderAnalysisProvider.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ofa.Moss.ITSService" />
  <xs:element name="GetDealerRankings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ofa.Moss.ITSService" minOccurs="0" name="parameters" nillable="true" type="q1:DealerRankingsParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerRankingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ofa.Moss.ITSService" minOccurs="0" name="GetDealerRankingsResult" nillable="true" type="q2:ArrayOfDealerRanking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>